*{
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Orelega One', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


.navbar a{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    padding: 2px;
    
}

.navbar a:hover{
    color: gold;
}

.navbar{
    background-color: #000011;
}

.navbar button{
    box-shadow: 0px 0px 2px 1px white;
}

.section {
    background-color: #000011;
    padding: 40px;
    height: 800px;
}

.section-about{
    padding-bottom: 50px;
    height: auto;
    width: 360px;
    background-color: white;
}


h2{
    font-weight: 600;
    color: white;
}

.imagen{
    width: 30px;
    height: auto;
    
}

.card{
    padding: 20px;
    margin-bottom: 20px;
}

.title{
    color: black;
    font-size: 800;
}

.text{
    color: rgb(131, 130, 130);
}

ul{
    list-style: none;
}

.about-me{
    margin-bottom: 20px;
}